@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Aboreto', regular;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #696865;
    color: white;
    padding: 20px 80px;
    width: 100%;
    position: fixed;
    z-index: 1000;
    box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.2);
}



.header-left {
    display: flex;
}

.logo {
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1px;
}

.date {
    display: flex;
    font-size: 12px;
    margin-left: 20px;
    align-items: center;
}

.header-right .nav-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-menu li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.nav-menu li a:hover {
    text-decoration: underline;
    transition: 1s ease;
}

.nav-menu li:not(:last-child) {
    margin-right: 40px;
}


.title-brand {
    margin: auto;
    padding: 60px 0;
}

.title-brand h1 {
    font-size: 64px;
    text-align: center;
    color: #000000;
    margin: 0;
    font-weight: 400;
    margin-top: 60px;
}


.hero {
    width: 100%;
    display: flex;
    color: white;
    font-weight: 300;
    font-size: 32px;
    letter-spacing: 0.2px;
    position: relative;
    font-family: 'Cormorant Garamond', serif;
}

.hero img {
    width: 100%;
    object-fit: cover;
    z-index: 0;
}

.hero .text {
    position: absolute;
    text-align: center;
    justify-content: center;
    top: 25%;
    width: 100%;
}

.section-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px 0;
    flex-wrap: wrap;
}

.card {
    position: relative; 
    flex: 1 1 calc(50% - 20px); 
    max-width: calc(35% - 20px);
    height: 200px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: none;

}

.card .picture-card {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
   
}

.card .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    color: white;
    font-family: 'Cormorant Garamond', serif;
    font-size: 24px;
    text-align: center;
    text-decoration: underline;
    padding-bottom: 5px;
    white-space: nowrap; 
}

.card:hover{
    transform: scale(1.05);
    transition: 1s;
    box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.3);  
    cursor: pointer;
}


.registry{
    display: flex;
    position: relative;
}

.registry .container{
    position: absolute;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    top: 25%;
}

.registry .container h3{
    font-size: 38px;
    font-weight: 300;
    margin-bottom: 80px;
}

.registry .container p{
    margin: auto;
    width: 50%;
    font-size: 22px;
    margin-bottom: 50px;
    font-family: 'Cormorant Garamond', serif;
}

.registry .container button{
    padding: 20px 160px;
    border-radius: 40px;
    border: none;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: #7D7662;
    color: white;
}

.registry .container button:hover{
    cursor: pointer;
    border: bisque 1px solid;
    transform: scale(1.02);
}

footer{
    width: 100%;
    padding: 40px 0;
    text-align: center;
    background-color: #E1DBCB;
}

.footer-container h1{
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 10px;

}

.footer-container p{
    font-size: 18px;
    text-transform: uppercase;
}